{% extends 'base.html.twig' %}

{% block title %}New Commande{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <!-- div contenant le formulaire -->
    <div class="shadow-lg p-5 rounded-3">
        <h1>Create new Commande</h1>

        {{ include('commande/_form.html.twig', {'button_label': 'Save'}) }}

        <div class="d-grid mt-3">
            <a class="btn btn-block btn-secondary" href="{{ path('app_commande_index') }}">back to list</a>
        </div>
    </div>
</div>
{% endblock %}
